.triangle-shape {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  position: relative;
  top: 0;
  left: 0;

  svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
  }

  .triangle-fill {
    fill: white;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./../../../assets/solar-panels-20.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: auto;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  >* {
    position: relative;
    z-index: 2;
  }
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: white;

  h4 {
    font-size: 32px;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  p {
    font-size: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: -138px;

  .service-item {
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    svg {
      width: 100%;
      height: auto;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      color: black;
      text-align: center;
      margin: 8px 0 16px;
    }

    p {
      font-size: 16px;
      color: #7A7A7A;
      text-align: center;
      font-weight: 300;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.footer {
  margin-top: 20px;
}

.button-17 {
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 13px;
}

a {
  text-decoration: none;
}

.services-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}





@keyframes draw {
  from {
    stroke-dashoffset: 10000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.services path {
  stroke: #000;
  stroke-width: 1.25;
  fill: silver;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  transition: stroke-dashoffset 15s ease-out;  
}

.services.animate path {
  stroke-dashoffset: 0;
}


