.impressum-container {
  background-color: #f0f0f0;
  padding: 64px 128px;
}

.impressum-container h1 {
  font-size: 32px;
  font-weight: 500;
}

.impressum-container p {
  margin: 10px 0;
}

.impressum-container a {
  color: #000;
}

.impressum-container a:hover {
  text-decoration: underline;
}

p {
  color: #7A7A7A;
  font-size: 16px;
  font-weight: 400;
}