<app-header [title]="title"></app-header>

<div class="impressum-container">
  <h1>IMPRESSUM</h1>
  <p>Angaben gemäß § 5 TMG</p>
  <p>Heister Solartechnik GmbH<br>
     Olpener Straße 919<br>
     51109 Köln</p>
  <p>Telefon: 0221 29 862 8612<br>
     Internet: <a href="http://www.heister-solartechnik.de" target="_blank">www.heister-solartechnik.de</a><br>
     E-Mail: <a href="mailto:info@heister-solartechnik.de">info&#64;heister-solartechnik.de</a></p>
  <p>Geschäftsführer:<br>
     Lennard Heister</p>
  <p>Registereintrag:<br>
     Eintragung im Handelsregister.<br>
     Registergericht: Amtsgericht Köln<br>
     Registernummer: HRB 113755</p>
  <p>UST-ID: DE362295609</p>
</div>