* {
    background-color: #F0F0F0;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    color: #000;
    margin: 32px 0 16px 0
}

p {
    color: #7A7A7A;
    margin: 16px 0;
}

.first-section {
    padding: 64px 128px 64px 128px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    padding: 32px 0;

    img {
        width: 50%;
        height: 390px;
        object-fit: cover;
        object-position: center right;
        transform: scaleX(-1);
    }

    button {
        margin-top: 32px;
        background-color: #000;
        color: #fff;
    }

    p {
        color: #54595F;
    }
}

a {
    color: #000;
    text-decoration: underline;
}