.warum-heister {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
  padding-top: 210px;
  padding-bottom: 100px;

  .content {
    display: flex;
    max-width: 1200px;
    align-items: center;
    gap: 40px;
  }

  .text {
    max-width: 600px;

    h1 {
      font-size: 32px;
      margin-bottom: 10px;
      font-weight: 400;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
      color: #7A7A7A;
    }

    .premium-bullet-list-box {
      list-style: none;
      padding: 0;

      .premium-bullet-list-content {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: flex-start;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 1s ease-out, transform 1s ease-out;

        &.visible {
          opacity: 1;
          transform: translateY(0);
        }

        .icon {
          width: 38px;
          height: 38px;
          margin-right: 10px;
        }

        strong {
          font-weight: bold;
        }
      }
    }
  }
}
