<app-header [title]="title"></app-header>
<div class="contact-text">
  <p>
    Wir freuen uns über Ihr Interesse an unseren Solartechnik-Lösungen. Bei
    Fragen, Anregungen oder dem Wunsch nach einer individuellen Beratung sind
    wir stets für Sie da. Zögern Sie nicht, uns übers Telefon, E-Mail oder
    unser Kontaktformular zu erreichen.
  </p>
</div>
<div class="contact-container">
  <div class="contact-item">
    <a
      href="https://www.google.com/maps/search/?api=1&query=Heister+Solartechnik+GmbH+Olpener+Straße+919+51109+Köln"
      target="_blank"
    >
      <fa-icon [icon]="faMapLocationDot"></fa-icon>
    </a>
    <h3>Ort/Lage</h3>
    <p>Heister Solartechnik GmbH Olpener<br />Straße 919 51109 Köln</p>
  </div>
  <div class="contact-item">
    <a href="mailto:info@heister-solartechnik.de">
      <fa-icon [icon]="faEnvelopeOpenText"></fa-icon>
    </a>
    <h3>Email</h3>
    <p>info&#64;heister-solartechnik.de</p>
  </div>
  <div class="contact-item">
    <a href="tel:022129862862">
      <fa-icon [icon]="faPhone"></fa-icon>
    </a>
    <h3>Telefon</h3>
    <p>0221-29 862 862</p>
  </div>
</div>
<div class="contact-form-container-wrapper">
  <div class="contact-form-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <input type="hidden" name="access_key" value="06fbb285-ad22-42fb-83e7-53fffe79503b" />
      <label for="name">Name <span class="required">*</span></label>
      <input id="name" formControlName="name" placeholder="Max Mustermann" [formNoValidate]="true" />
      <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error">
        Bitte geben Sie einen Namen ein.
      </div>
      <div class="row">
        <div>
          <label for="email">Email <span class="required">*</span></label>
          <input id="email" formControlName="email" placeholder="M.Mustermann@gmail.com" [formNoValidate]="true" />
          <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error">
            Bitte geben Sie eine gültige E-Mail-Adresse ein.
          </div>
        </div>
        <div>
          <label for="telefonnummer">Telefonnummer <span class="required">*</span></label>
          <input id="telefonnummer" formControlName="telefonnummer" placeholder="0178123456789" [formNoValidate]="true" />
          <div *ngIf="contactForm.get('telefonnummer')?.invalid && contactForm.get('telefonnummer')?.touched" class="error">
            Bitte geben Sie eine gültige Telefonnummer ein.
          </div>
        </div>
      </div>
      <label for="adresse">Adresse</label>
      <input id="adresse" #adresseInput formControlName="adresse" placeholder="Olpener Straße 919 51109 Köln" [formNoValidate]="true" />
      <label for="subject">Betreff <span class="required">*</span></label>
      <input id="subject" formControlName="subject" placeholder="Ihre Anfrage" [formNoValidate]="true" />
      <div *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched" class="error">
        Bitte geben Sie einen Betreff ein.
      </div>
      <label for="nachricht">Nachricht <span class="required">*</span></label>
      <textarea id="nachricht" formControlName="nachricht" placeholder="Ihre Nachricht..."></textarea>
      <div *ngIf="contactForm.get('nachricht')?.invalid && contactForm.get('nachricht')?.touched" class="error">
        Bitte geben Sie eine Nachricht ein.
      </div>
      <button type="submit">Absenden</button>
    </form>
    <p *ngIf="successMessage">{{ successMessage }}</p>
  </div>
</div>