.container {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;

    >img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    > h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 27px;
        font-weight: 400;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 1;
        white-space: normal!important;
        width: 100%!important;
        text-align: center!important;
    }
}

.elementor-spacer {
    width: 30%;
    overflow: visible;
    position: relative;
    height: 50px;
    margin-top: -22px;
    transition: width 0.3s ease;

    .elementor-spacer-inner {
        height: 100%;
        background-color: black;
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    }

    .stripes {
        position: absolute;
        top: 0;
        right: -90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        transform: skewX(-24deg);
    }

    .stripe {
        width: 16px;
        height: 100%;
        background-color: black;
        margin-right: 8px;
    }
}

.spacer {
    background-color: #F0F0F0;
}

@media (max-width: 790px) {
    .container {
        height: 800px!important;

        >img {
            height: auto!important;
            object-fit: cover;
            background-position: center;
            background-size: cover;
            max-width: 100%;
            height: 100%!important;
        }
    }

    .overlay {
        max-width: 100%!important;
        height: 350px!important;
    }

    h2 {
        font-size: 24px!important;
        width: 100%!important;
        text-align: center!important;
        white-space: normal!important;
    }

    .container {
        height: 350px!important;
    }

    .elementor-spacer {
        width: 100%!important;
        height: 30px!important;

        .elementor-spacer-inner {
            width: 50%!important;
        }

        .stripes {
            height: 30px!important;
            right: 150px!important;
        }
    }
}