img {
    width: 500px;
    height: auto;
}

.text-content {
    padding: 128px 0 128px 256px;
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-out, opacity 1s ease-out;

    &.slide-in {
        opacity: 1;
        transform: translateX(0);
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #f0f0f0;
}

p {
    width: 50%;
    color: #7A7A7A;
}

h1 {
    margin-bottom: 32px;
    font-weight: 400;
}

.svg-container {
    width: 182px; /* Breite des SVGs */
    height: 86px; /* Höhe des SVGs */
    width: 256px;
    height: auto;
    position: absolute;
    left: 124px;
    margin-top: 64px;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-out, opacity 1s ease-out;

    &.slide-in {
        opacity: 1;
        transform: translateX(0);
    }
}

.svg-container path {
    stroke: black; 
    stroke-width: .5; 
    fill: white; 
    stroke-dasharray: 10000; 
    stroke-dashoffset: 10000;
    transition: stroke-dashoffset 15s;     
}

.svg-container.animate path {
    stroke-dashoffset: 0;
}

.button-17{
    margin-top: 32px;
    color: white;
    background-color: black;
}
