<div class="second-section">
  <div class="second-section-content">
    <img src="./../../../assets/ueber-uns.jpeg" alt="" />
    <h1>Heister Solartechnik GmbH</h1>
  </div>
  <div>
    <h1>Unsere Mission</h1>
    <p>
      Bei Heister Solartechnik GmbH verfolgen wir eine klare Vision:
      <b>Solartechnik auf höchstem Niveau für Köln und Umgebung.</b> Unsere
      Mission ist es, durch unsere Arbeit einen Beitrag zu einer grüneren,
      nachhaltigeren Zukunft zu leisten und gleichzeitig unseren Kunden zu
      ermöglichen, von den wirtschaftlichen Vorteilen der Solarenergie zu
      profitieren. Nachhaltige Energie ist nicht nur gut für die Umwelt, sondern
      auch für den Geldbeutel. Deshalb setzen wir alles daran, Ihnen Lösungen zu
      bieten, die <b>sowohl ökologisch als auch ökonomisch sinnvoll sind.</b>
    </p>
  </div>
</div>
