<nav id="menu">
  <div>
    <img
      routerLink="/"
      src="./../../assets/heister-solartechnik-logo.png"
      alt=""
    />
  </div>
  <div class="menu-container">
    <button class="burger-menu" (click)="toggleMenu()">☰</button>
    <div class="menu-items">
      <ul>
        <li><a (click)="closeMenu()" routerLink="/">Home</a></li>
        <li><a (click)="closeMenu()" routerLink="/ueber-uns">Über Uns</a></li>
        <li>
          <a (click)="closeMenu()" routerLink="/leistungen">Leistungen</a>
        </li>
        <li><a (click)="closeMenu()" routerLink="/faq">FAQ</a></li>
        <li><a (click)="closeMenu()" routerLink="/karriere">Karriere</a></li>
        <button (click)="closeMenu()" routerLink="/kontakt" class="button-17">
          Kontakt
        </button>
      </ul>
    </div>
    <button routerLink="/kontakt" class="button-17">Kontakt</button>
  </div>
</nav>
