@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



#menu {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px;

    >div>img {
        height: 64px;
    }
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: rgb(190, 190, 190);
        transition: 0.25s;
    }
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;

    >li {
        list-style-type: none;
    }

    button {
        display: none;
    }
}

img {
    cursor: pointer;
}

.burger-menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 16px;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

.menu-items.show {
    transform: translateY(0);
    opacity: 1;
}

.menu-items ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media (max-width: 900px) {
    .burger-menu {
        display: block;
    }

    .menu-items {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f0f0f0;
        width: 100%;
        text-align: left;
        transform: translateY(0%);
        opacity: 0;
        pointer-events: none;
    }

    .menu-items.show {
        transform: translateY(8%);
        opacity: 1;
        pointer-events: auto;
    }

    .menu-items ul {
        flex-direction: column;
        width: 100%;
    }

    .menu-items ul li {
        width: 100%;
    }

    .menu-items ul li a {
        display: block;
        padding: 8px 16px;
        color: black;
        text-decoration: none;
    }

    .menu-items ul li a:hover {
        background-color: #e0e0e0;
    }
}

@media (max-width: 600px) {
    .menu-items {
        flex-direction: column;
    }

    ul button {
        display: block;
    }

    button {
        display: none;
    }
}