<div class="karriere-container">
    <h2>{{ heading }}</h2>
    <div class="contact-buttons">
      <a href="https://wa.me/4915223550000" class="contact-button whatsapp">
        <fa-icon [icon]="faWhatsapp"></fa-icon> WHATSAPP
      </a>
      <a href="mailto:info@heister-solartechnik.de" class="contact-button email">
        <fa-icon [icon]="faEnvelope"></fa-icon> EMAIL
      </a>
      <a href="tel:+4915223550000" class="contact-button phone">
        <fa-icon [icon]="faPhone"></fa-icon> TELEFON
      </a>
    </div>
  </div>