<app-header [title]="title"></app-header>
<div class="datenschutz-container">
  <h1>
    ALLGEMEINE GESCHÄFTSBEDINGUNGEN DER HEISTER SOLARTECHNIK GMBH FÜR
    LIEFERUNGEN, LEISTUNGEN UND ANGEBOTE DER HEISTER SOLARTECHNIK GMBH
  </h1>
  <p>(Stand 31.01.2023)</p>

  <h2>1. GELTUNGSBEREICH</h2>
  <p>
    <strong>1.1.</strong> Alle Lieferungen, Leistungen und Angebote der Heister
    Solartechnik GmbH, Köln erfolgen ausschließlich aufgrund dieser Allgemeinen
    Lieferbedingungen und richten sich ausschließlich an Unternehmer im Sinne
    des § 14 BGB, juristische Personen des öffentlichen Rechts oder
    öffentlich-rechtliches Sondervermögen.
  </p>
  <p>
    <strong>1.2.</strong> Diese sind Bestandteil aller Verträge, die Heister
    Solartechnik GmbH mit seinen Vertragspartnern (nachfolgend auch „Kunden“
    genannt) über die von ihm angebotenen Lieferungen oder Leistungen schließt.
    Die Allgemeinen Geschäftsbedingungen gelten auch für alle zukünftigen
    Lieferungen, Leistungen oder Angebote an den Kunde, auch wenn sie nicht
    nochmals gesondert vereinbart werden.
  </p>
  <p>
    <strong>1.3.</strong> Geschäftsbedingungen des Kunden oder Dritter finden
    keine Anwendung, auch wenn Heister Solartechnik GmbH ihrer Geltung im
    Einzelfall nicht gesondert widerspricht. Selbst wenn Heister Solartechnik
    GmbH auf ein Schreiben Bezug nimmt, das Geschäftsbedingungen des Kunden oder
    eines Dritten enthält oder auf solche verweist, liegt darin kein
    Einverständnis mit der Geltung jener Geschäftsbedingungen.
  </p>
  <h2>2. ANGEBOT UND VERTRAGSABSCHLUSS</h2>
  <p>
    <strong>2.1.</strong> Alle Angebote der Heister Solartechnik GmbH sind
    freibleibend und unverbindlich, sofern sie nicht ausdrücklich als
    verbindlich gekennzeichnet sind oder eine bestimmte Annahmefrist enthalten.
    Bestellungen oder Aufträge kann die Heister Solartechnik GmbH innerhalb von
    (14) Tagen nach Zugang annehmen.
  </p>
  <p>
    <strong>2.2.</strong> Allein maßgeblich für die Rechtsbeziehungen zwischen
    der Heister Solartechnik GmbH und dem Kunden ist der schriftlich
    geschlossene Kaufvertrag, einschließlich dieser Allgemeinen
    Lieferbedingungen. Dieser gilt abweichend von den Vertragsparteien zum
    Vertragsgegenstand vollständig wieder. Mündliche Zusagen der Heister
    Solartechnik GmbH vor Abschluss dieses Vertrages sind rechtlich
    unverbindlich und mündliche Abreden der Vertragsparteien werden durch den
    schriftlichen Vertrag ersetzt, sofern nicht jeweils ausdrücklich anders
    zwischen den Vertragsparteien vereinbart.
  </p>
  <p>
    <strong>2.3.</strong> Ergänzungen und Abänderungen der getroffenen
    Vereinbarungen einschließlich dieser Allgemeinen Lieferbedingungen bedürfen
    zu ihrer Wirksamkeit der Schriftform. Mit Ausnahme von Geschäftsführern oder
    Prokuristen sind die Mitarbeiter der Heister Solartechnik GmbH nicht
    berechtigt, von der schriftlichen Vereinbarung abweichende mündliche Abreden
    zu treffen. Zur Wahrung der Schriftform genügt die telekommunikative
    Übermittlung, insb. per Telefax oder per E-Mail.
  </p>
  <p>
    <strong>2.4.</strong> Angaben der Heister Solartechnik GmbH zum Gegenstand
    der Lieferung oder Leistung (zB Gewichte, Maße, Gebrauchswerte,
    Belastbarkeit, Toleranzen und technische Daten) sowie Darstellungen
    derselben (zB Zeichnungen und Abbildungen) sind nur annähernd maßgeblich,
    soweit nicht die Verwendbarkeit zum vertraglich vorgesehenen Zweck eine
    genaue Übereinstimmung voraussetzt. Sie sind keine garantierten
    Beschaffenheitsmerkmale, sondern Beschreibungen oder Kennzeichnungen der
    Lieferung oder Leistung. Handelsübliche Abweichungen und Abweichungen, die
    aufgrund rechtlicher Vorschriften erfolgen oder technische Verbesserungen
    darstellen, sowie die Ersetzung von Bauteilen durch gleichwertige Teile sind
    zulässig, soweit sie die Verwendbarkeit zum vertraglich vorgesehenen Zweck
    nicht beeinträchtigen.
  </p>
  <p>
    <strong>2.5.</strong> Als vereinbarte Beschaffenheit gilt grundsätzlich nur
    die Produktbeschreibung des Herstellers und/oder diejenige der Heister
    Solartechnik GmbH und soweit ausdrücklich als solche vereinbart. Bei
    Solarmodulen ergibt sich die vereinbarte Beschaffenheit für jedes einzelne
    Modul aus dem jeweiligen Datenblatt des Herstellers, wobei als Maßstab für
    die Einhaltung der dort angegebenen elektrischen Toleranzbereiche für das
    jeweilige Modul ausschließlich das Flasherprotokoll des Herstellers
    maßgeblich ist. Abweichungen innerhalb der angegebenen Toleranzbereiche
    gelten als unerheblich und begründen keine Mängelansprüche. Öffentliche
    Äußerungen, Anpreisung und Werbung des Herstellers oder eines Vorlieferanten
    stellen hingegen keine vertragsgemäße Beschaffenheitsangabe der Ware da.
    Modulverfärbungen ohne Auswirkung auf die Anlagenleistung entsprechen der
    vereinbarten Beschaffenheit, es sei denn, eine Farbe ist besonders
    vereinbart. Zeichnungen dienen allein der Veranschaulichung; insbesondere
    Modulfelder stehen unter dem Vorbehalt späterer Dachabmessung.
  </p>
  <p>
    <strong>2.6.</strong> Die Wirtschaftlichkeitsprognose ist keine Zusicherung
    des zukünftigen Ertrages, sondern ein mathematisches Modell ohne
    Berücksichtigung des konkreten Einzelfalls.
  </p>
  <p>
    <strong>2.7.</strong> Die Heister Solartechnik GmbH behält sich das Eigentum
    oder Urheberrecht an allen von ihm abgegebenen Angeboten und
    Kostenvoranschlägen sowie dem Kunden zur Verfügung gestellten Zeichnungen,
    Abbildungen, Berechnungen, Prospekten, Katalogen, Modellen, Werkzeugen und
    anderen Unterlagen und Hilfsmitteln vor. Der Kunde darf diese Gegenstände
    ohne ausdrückliche Zustimmung der Heister Solartechnik GmbH weder als solche
    noch inhaltlich Dritten zugänglich machen, sie bekannt geben, selbst oder
    durch Dritte nutzen oder vervielfältigen. Er hat auf Verlangen der Heister
    Solartechnik GmbH diese Gegenstände vollständig an diesen zurückzugeben und
    eventuell gefertigte Kopien zu vernichten, wenn sie von ihm im
    ordnungsgemäßen Geschäftsgang nicht mehr benötigt werden oder wenn
    Verhandlungen nicht zum Abschluss eines Vertrages führen. Ausgenommen
    hiervon ist die Speicherung elektronisch zur Verfügung gestellter Daten zum
    Zwecke üblicher Datensicherung.
  </p>
  <p>
    <strong>2.8.</strong> Die Heister Solartechnik GmbH ist berechtigt, die zur
    Durchführung des Vertrages erforderlichen Leistungen durch Dritte ausführen
    zu lassen.
  </p>
  <h2>3. PREISE UND ZAHLUNG</h2>
  <p>
    <strong>3.1.</strong> Die Preise gelten für den in den Auftragsbestätigungen
    aufgeführten Leistungs- und Lieferungsumfang. Mehr- oder Sonderleistungen
    werden gesondert berechnet. Die Preise verstehen sich in EUR ab Werk zzgl.
    Verpackung, der gesetzlichen Mehrwertsteuer, bei Exportlieferungen Zoll
    sowie Gebühren und anderer öffentlicher Abgaben.
  </p>
  <p>
    <strong>3.2.</strong> Soweit den vereinbarten Preisen die Listenpreise der
    Heister Solartechnik GmbH zugrunde liegen und die Lieferung erst mehr als
    vier Monate nach Vertragsschluss erfolgen soll, gelten die bei Lieferung
    gültigen Listenpreise der Heister Solartechnik GmbH (jeweils abzüglich eines
    vereinbarten prozentualen oder festen Rabatts). Liegt dieser 20 % oder mehr
    über dem vereinbarten Preis, hat der Kunde das Recht, vom Vertrag
    zurückzutreten. Dieses Recht muss unverzüglich nach Mitteilung des erhöhten
    Preises geltend gemacht werden.
  </p>
  <h2>4. LIEFERUNG UND LIEFERZEIT</h2>
  <p><strong>4.1.</strong> Lieferungen erfolgen ab Werk.</p>
  <p>
    <strong>4.2.</strong> Von der Heister Solartechnik GmbH in Aussicht
    gestellte Fristen und Termine für Lieferungen und Leistungen gelten stets
    nur annähernd, es sei denn, dass ausdrücklich eine feste Frist oder ein
    fester Termin zugesagt oder vereinbart ist. Sofern Versendung vereinbart
    wurde, beziehen sich Lieferfristen und Liefertermine, sofern nicht
    ausdrücklich von uns anders angegeben, auf den Zeitpunkt der Übergabe an den
    Spediteur, Frachtführer oder sonst mit dem Transport beauftragten Dritten.
  </p>
  <p>
    <strong>4.3.</strong> Die Heister Solartechnik GmbH kann – unbeschadet
    seiner Rechte aus Verzug des Kunden – vom Kunden eine Verlängerung von
    Liefer- und Leistungsfristen oder eine Verschiebung von Liefer- und
    Leistungsterminen um den Zeitraum verlangen, in dem der Kunde seinen
    vertraglichen Verpflichtungen der Heister Solartechnik GmbH gegenüber nicht
    nachkommt.
  </p>
  <p>
    <strong>4.4.</strong> Die Heister Solartechnik GmbH haftet nicht für
    Unmöglichkeit der Lieferung oder für Lieferverzögerungen, soweit diese durch
    höhere Gewalt oder sonstige, zum Zeitpunkt des Vertragsabschlusses nicht
    vorhersehbare Ereignisse (zB Betriebsstörungen aller Art, Schwierigkeiten in
    der Material- oder Energiebe-schaffung, Transportverzögerungen, Streiks,
    rechtmäßige Aussperrungen, Mangel an Arbeitskräften, Energie oder
    Rohstoffen, Schwierigkeiten bei der Beschaffung von notwendigen behördlichen
    Genehmigungen, Pandemien oder Epidemien, behördliche Maßnahmen oder die
    ausbleibende, nicht richtige oder nicht rechtzeitige Belieferung durch
    Lieferanten trotz eines von der Heister Solartechnik GmbH geschlossenen
    kongruenten Deckungsgeschäfts) verursacht worden sind, die Heister
    Solartechnik GmbH nicht zu vertreten hat. Sofern solche Ereignisse der
    Heister Solartechnik GmbH die Lieferung oder Leistung wesentlich erschweren
    oder unmöglich machen und die Behinderung nicht nur von vorübergehender
    Dauer ist, ist die Heister Solartechnik GmbH zum Rücktritt vom Vertrag
    berechtigt. Bei Hindernissen vorübergehender Dauer verlängern sich die
    Liefer- oder Leistungsfristen oder verschieben sich die Liefer- oder
    Leistungstermine um den Zeitraum der Behinderung zzgl. einer angemessenen
    Anlauffrist. Soweit dem Kunden infolge der Verzögerung die Abnahme der
    Lieferung oder Leistung nicht zuzumuten ist, kann er durch unverzügliche
    schriftliche Erklärung gegenüber Heister Solartechnik GmbH vom Vertrag
    zurücktreten.
  </p>
  <p>
    <strong>4.5.</strong> Heister Solartechnik GmbH ist nur zu Teillieferungen
    berechtigt, wenn
  </p>
  <ul>
    <li>
      die Teillieferung für den Kunden im Rahmen des vertraglichen
      Bestimmungszwecks verwendbar ist,
    </li>
    <li>die Lieferung der restlichen bestellten Ware sichergestellt ist und</li>
    <li>
      dem Kunden hierdurch kein erheblicher Mehraufwand oder zusätzliche Kosten
      entstehen (es sei denn, die Heister Solartechnik GmbH erklärt sich zur
      Übernahme dieser Kosten bereit).
    </li>
  </ul>
  <p>
    <strong>4.6.</strong> Gerät die Heister Solartechnik GmbH mit einer
    Lieferung oder Leistung in Verzug oder wird ihr eine Lieferung oder
    Leistung, gleich aus welchem Grunde, unmöglich, so ist die Haftung der
    Heister Solartechnik GmbH auf Schadensersatz nach Maßgabe des 9. dieser
    Allgemeinen Lieferbedingungen beschränkt.
  </p>

  <h2>
    5. VORAUSSETZUNGEN FÜR MONTAGE- UND LIEFERLEISTUNGEN; MITWIRKUNGSPFLICHT DES
    KUNDEN
  </h2>
  <p>
    <strong>5.1.</strong> Die Bearbeitung des Auftrages beginnt mit der
    vollständigen Zahlung der bis dahin laut Zahlungsplan angefallenen Beträge
    oder dem Nachweis der Verfügbarkeit der Finanzierungsmittel, in der Höhe des
    gesamten Auftragsvolumens.
  </p>
  <p>
    <strong>5.2.</strong> Der Kunde hat auf seine Kosten dafür zu sorgen, dass
    die vereinbarten Lieferungen und Leistungen vereinbarungsgemäß begonnen und
    ohne Unterbrechung durchgeführt werden können.
  </p>
  <p>
    <strong>5.3.</strong> Die Einholung aller notwendigen Genehmigungen,
    Anzeigen, statische Überprüfung der Dachkonstruktion, etc. die für die
    vereinbarten Leistungen notwendig sind, sind im Leistungsumfang nicht
    enthalten und vom Kunden einzuholen. Der Kunde versichert, dass oben
    genannte Punkte vor Beginn der Ausführung der vereinbarten Leistungen
    vorhanden sind. Die Heister Solartechnik GmbH kann vor Ausführung der
    vereinbarten Leistungen einen entsprechenden Nachweis vom Kunden verlangen.
  </p>
  <p>
    <strong>5.4.</strong> Der Kunde gestattet der Heister Solartechnik GmbH und
    den von Heister Solartechnik GmbH beauftragten Dritten uneingeschränkten
    Zugang zum Ort der Leistungserbringung, soweit dies zur Erbringung der
    vertraglich geschuldeten Leistungen erforderlich ist.
  </p>
  <p>
    <strong>5.5.</strong> Der Kunde ist verpflichtet, für Lieferungen einen
    Lagerplatz in einem abschließbaren Raum zur Verfügung zu stellen, in dem die
    gelieferten Produkte bis zur Erbringung der vereinbarten Montageleistungen
    gelagert werden können. Die Produkte werden, sofern es sich um Module und
    Zubehör handelt, auf Paletten (Abmessungen: ca. 80cm x 120cm) und im Übrigen
    in Einzelteilen geliefert. Die Größe des erforderlichen Lagerplatzes richtet
    sich nach der Menge der gelieferten Produkte und wird im Vorfeld der
    Lieferung zwischen der Heister Solartechnik GmbH und dem Kunden abgestimmt.
  </p>
  <p>
    <strong>5.6.</strong> Kommt der Kunde in Annahmeverzug oder verletzt er
    schuldhaft sonstige Mitwirkungspflichten, so ist die Heister Solartechnik
    GmbH berechtigt, Ersatz des entstehenden Schadens, einschließlich etwaiger
    Mehraufwendungen zu verlangen; mit Eintritt des Annahmeverzugs geht die
    Gefahr der zufälligen Verschlechterung und des zufälligen Untergangs der
    gelieferten Produkte auf den Kunden über.
  </p>
  <p>
    <strong>5.7.</strong> Die Heister Solartechnik GmbH hat gegenüber den im
    Rahmen der zu erbringenden Leistungen von ihm beauftragten Dritten die
    alleinige und uneingeschränkte Weisungsbefugnis. Insbesondere hat der Kunde
    Änderungs- und Sonderwünsche ausschließlich mit der Heister Solartechnik
    GmbH abzustimmen, nicht jedoch Dritten, insbesondere Subunternehmern
    gegenüber zu erklären.
  </p>
  <h2>6. ERFÜLLUNGSORT, VERSAND, VERPACKUNG, GEFAHRÜBERGANG, ABNAHME</h2>
  <p>
    <strong>6.1.</strong> Erfüllungsort für alle Verpflichtungen aus dem
    Vertragsverhältnis ist der Sitz der Heister Solartechnik GmbH, soweit nichts
    anderes bestimmt ist. Schuldet die Heister Solartechnik GmbH auch die
    Installation, ist Erfüllungsort der Ort, an dem die Installation zu erfolgen
    hat.
  </p>
  <p>
    <strong>6.2.</strong> Die Versandart und die Verpackung unterstehen dem
    pflichtgemäßen Ermessen der Heister Solartechnik GmbH.
  </p>
  <p>
    <strong>6.3.</strong> Die Gefahr geht, sofern Versand der Ware vereinbart
    ist und die Heister Solartechnik GmbH nicht Transport oder Installation
    übernommen hat, spätestens mit der Übergabe des Liefergegenstandes (wobei
    der Beginn des Verladevorgangs maßgeblich ist) an den Spediteur,
    Frachtführer oder sonst zur Ausführung der Versendung bestimmten Dritten auf
    den Kunden über. Verzögert sich der Versand oder die Übergabe infolge eines
    Umstandes, dessen Ursache beim Kunden liegt, geht die Gefahr von dem Tag an
    auf den Kunden über, an dem der Liefergegenstand versandbereit ist und die
    Heister Solartechnik GmbH dies dem Kunden angezeigt hat.
  </p>
  <p>
    <strong>6.4.</strong> Lagerkosten nach Gefahrübergang trägt der Kunde. Bei
    Lagerung durch die Heister Solartechnik GmbH betragen die Lagerkosten (0,25)
    % des Rechnungsbetrages der zu lagernden Produkte pro abgelaufene Woche. Die
    Geltendmachung und der Nachweis weiterer oder geringerer Lagerkosten bleiben
    vorbehalten.
  </p>
  <p>
    <strong>6.5.</strong> Die Sendung wird von der Heister Solartechnik GmbH nur
    auf ausdrücklichen Wunsch des Kunden und auf dessen Kosten gegen Diebstahl,
    Bruch-, Transport-, Feuer- und Wasserschäden oder sonstige versicherbare
    Risiken versichert.
  </p>
  <p>
    <strong>6.6.</strong> Soweit eine Abnahme stattzufinden hat, gilt die
    Kaufsache als abgenommen, wenn
  </p>
  <ul>
    <li>
      die Lieferung und, sofern die Heister Solartechnik GmbH auch die
      Installation schuldet, die Installation abgeschlossen ist,
    </li>
    <li>
      Die Heister Solartechnik GmbH dies dem Kunden unter Hinweis auf die
      Abnahmefiktion nach 6.6 mitgeteilt und ihn zur Abnahme aufgefordert hat,
    </li>
    <li>
      seit der Lieferung oder Installation 21 Werktage vergangen sind oder der
      Kunde mit der Nutzung der Kaufsache begonnen hat (zB die gelieferte Anlage
      in Betrieb genommen hat) und in diesem Fall seit Lieferung oder
      Installation 14 Werktage vergangen sind und
    </li>
    <li>
      der Kunde die Abnahme innerhalb dieses Zeitraums aus einem anderen Grund
      als wegen eines der Heister Solartechnik GmbH angezeigten Mangels, der die
      Nutzung der Kaufsache unmöglich macht oder wesentlich beeinträchtigt,
      unterlassen hat.
    </li>
  </ul>
  <p>
    <strong>6.7.</strong> Der Kunde ist verpflichtet die Betriebsbereitschaft
    der Anlage durch die Heister Solartechnik GmbH als Voraussetzung für den
    abschließenden Vergütungsanspruch der Heister Solartechnik GmbH, nach
    Herstellung zu bestätigen. Dazu ist ein Protokoll zu fertigen, das von
    beiden Vertragspartnern zu unterzeichnen ist. Die Heister Solartechnik GmbH
    kann sich bei der Durchführung der Abnahme und Unterzeichnung des
    Abnahmeprotokolls von einem von ihr beauftragten Dritten vertreten lassen.
  </p>
  <h2>7. GEWÄHRLEISTUNG, SACHMÄNGEL</h2>
  <p>
    <strong>7.1.</strong> Die Verjährungsfrist für Ansprüche und Rechte wegen
    Mängeln der Lieferung – gleich aus welchem Rechtsgrund – beträgt ein Jahr.
    Es gilt jedoch nicht in den Fällen des § 438 Abs. 1 Nr. 1 BGB (Rechtsmängel
    bei unbeweglichen Sachen), § 438 Abs. 1Nr. 2 BGB (Bauwerke, Sachen für
    Bauwerke), § 479 Abs. 1 BGB (Rückgriffsansprüche des Unternehmers) oder §
    634a Abs. 1 Nr. 2 BGB (Bauwerk oder Werk, dessen Erfolg in Erbringung von
    Planungs- oder Überwachungsleistungen hierfür besteht). Die im vorstehenden
    Satz 2 ausgenommenen Fälle unterliegen einer Verjährungsfrist von 3 Jahren.
  </p>
  <p>
    <strong>7.2.</strong> Die Verjährungsfristen nach 7.1. gelten auch für
    sämtliche Schadensersatzansprüche gegen uns, die mit dem Mangel im
    Zusammenhang stehen – unabhängig von der Rechtsgrundlage des Anspruches.
    Soweit Schadensersatzansprüche jedweder Art gegen uns bestehen, die mit dem
    Mangel nicht im Zusammenhang stehen, gilt für sie die Verjährungsfrist des
    7.1. Satz 1. Diese Verjährungsfrist gilt nicht für Schadensersatzansprüche
    des Kunden aus der Verletzung des Lebens, des Körpers oder der Gesundheit
    oder aus vorsätzlichen oder grob fahrlässigen Pflichtverletzungen der
    Heister Solartechnik GmbH oder seiner Erfüllungsgehilfen, welche jeweils
    nach den gesetzlichen Vorschriften verjähren.
  </p>
  <p>
    <strong>7.3.</strong> Die gelieferten Produkte sind unverzüglich nach
    Ablieferung an den Kunden oder an den von ihm bestimmten Dritten sorgfältig
    zu untersuchen. Sie gelten hinsichtlich offensichtlicher Mängel oder anderer
    Mängel, die bei einer unverzüglichen, sorgfältigen Untersuchung erkennbar
    gewesen wären, als vom Käufer genehmigt, wenn die Heister Solartechnik GmbH
    nicht binnen fünf Werktagen nach Ablieferung eine schriftliche Mängelrüge
    zugeht. Hinsichtlich anderer Mängel gelten die gelieferten Produkte als vom
    Käufer genehmigt, wenn die Mängelrüge der Heister Solartechnik GmbH nicht
    binnen (sieben) Werktagen nach dem Zeitpunkt zugeht, in dem sich der Mangel
    zeigte; war der Mangel bei normaler Verwendung bereits zu einem früheren
    Zeitpunkt offensichtlich, ist jedoch dieser frühere Zeitpunkt für den Beginn
    der Rügefrist maßgeblich. Auf Verlangen der Heister Solartechnik GmbH ist
    ein beanstandeter Liefergegenstand frachtfrei an die Heister Solartechnik
    GmbH zurückzusenden. Bei berechtigter Mängelrüge vergütet die Heister
    Solartechnik GmbH die Kosten des günstigsten Versandweges; dies gilt nicht,
    soweit die Kosten sich erhöhen, weil der Liefergegenstand sich an einem
    anderen Ort als dem Ort des bestimmungsgemäßen Gebrauchs befindet.
  </p>
  <p>
    <strong>7.4.</strong> Bei Sachmängeln der gelieferten Produkte ist die
    Heister Solartechnik GmbH nach seiner innerhalb angemessener Frist zu
    treffenden Wahl zunächst zur Nachbesserung oder Ersatzlieferung verpflichtet
    und berechtigt. Im Falle des Fehlschlagens, der Unmöglichkeit,
    Unzumutbarkeit, Verweigerung oder unangemessenen Verzögerung der
    Nachbesserung oder Ersatzlieferung, kann der Kunde vom Vertrag zurücktreten
    oder den Kaufpreis angemessen mindern.
  </p>
  <p>
    <strong>7.5.</strong> Beruht ein Mangel auf dem Verschulden der Heister
    Solartechnik GmbH, kann der Kunde unter den in 9. bestimmten Voraussetzungen
    Schadensersatz verlangen.
  </p>
  <p>
    <strong>7.6.</strong> Bei Mängeln von Bauteilen anderer Hersteller, die
    Heister Solartechnik GmbH aus lizenzrechtlichen oder tatsächlichen Gründen
    nicht beseitigen kann, wird die Heister Solartechnik GmbH nach seiner Wahl
    seine Gewährleistungsansprüche gegen die Hersteller und Lieferanten für
    Rechnung des Kunden geltend machen oder an den Kunden abtreten.
    Gewährleistungsansprüche gegen die Heister Solartechnik GmbH bestehen bei
    derartigen Mängeln unter den sonstigen Voraussetzungen und nach Maßgabe
    dieser Allgemeinen Lieferbedingungen nur, wenn die gerichtliche Durchsetzung
    der vorstehenden genannten Ansprüche gegen den Hersteller und Lieferanten
    erfolglos war oder, bspw. aufgrund einer Insolvenz, aussichtslos ist.
    Während der Dauer des Rechtsstreits ist die Verjährung der betreffenden
    Gewährleistungsansprüche des Kunden gegen die Heister Solartechnik GmbH
    gehemmt.
  </p>
  <p>
    <strong>7.7.</strong> Die Gewährleistung entfällt, wenn der Kunde ohne
    Zustimmung der Heister Solartechnik GmbH den Liefergegenstand ändert oder
    durch Dritte ändern lässt und die Mängelbeseitigung hierdurch unmöglich oder
    unzumutbar erschwert wird. In jedem Fall hat der Kunde die durch die
    Änderung entstehenden Mehrkosten der Mängelbeseitigung zu tragen.
  </p>
  <p>
    <strong>7.8.</strong> Eine im Einzelfall mit dem Kunden vereinbarte
    Lieferung gebrauchter Produkte erfolgt unter Ausschluss jeglicher
    Gewährleistung für Sachmängel.
  </p>
  <h2>8. SCHUTZRECHTE</h2>
  <p>
    <strong>8.1.</strong> Die Heister Solartechnik GmbH steht nach Maßgabe
    dieser Ziffer 8. dafür ein, dass der Liefergegenstand frei von gewerblichen
    Schutzrechten oder Urheberrechten Dritter ist. Jeder Vertragspartner wird
    den anderen Vertragspartner unverzüglich schriftlich benachrichtigen, falls
    ihm gegenüber Ansprüche wegen der Verletzung solcher Rechte geltend gemacht
    werden.
  </p>
  <p>
    <strong>8.2.</strong> In dem Fall, dass der Liefergegenstand ein
    gewerbliches Schutzrecht oder Urheberrecht eines Dritten verletzt, wird die
    Heister Solartechnik GmbH nach seiner Wahl und auf seine Kosten den
    Liefergegenstand derart abändern oder austauschen, dass keine Rechte Dritter
    mehr verletzt werden, der Liefergegenstand aber weiterhin die vertraglich
    vereinbarten Funktionen erfüllt, oder dem Kunden durch Abschluss eines
    Lizenzvertrages mit dem Dritten das Nutzungsrecht verschaffen. Gelingt der
    Heister Solartechnik GmbH dies innerhalb eines angemessenen Zeitraums nicht,
    ist der Kunde berechtigt, vom Vertrag zurückzutreten oder den Kaufpreis
    angemessen zu mindern. Etwaige Schadensersatzansprüche des Kunden
    unterliegen den Beschränkungen der Ziffer 9. dieser Allgemeinen
    Geschäftsbedingungen.
  </p>
  <p>
    <strong>8.3.</strong> Bei Rechtsverletzungen durch von der Heister
    Solartechnik GmbH gelieferte Produkte anderer Hersteller wird die Heister
    Solartechnik GmbH nach seiner Wahl seine Ansprüche gegen die Hersteller und
    Vorlieferanten für Rechnung des Kunden geltend machen oder an den Kunden
    abtreten. Ansprüche gegen die Heister Solartechnik GmbH bestehen in diesen
    Fällen nach Maßgabe dieser Ziffer 8. nur, wenn die gerichtliche Durchsetzung
    der vorstehend genannten Ansprüche gegen die Hersteller und Vorlieferanten
    erfolglos war oder, bspw. aufgrund einer Insolvenz, aussichtslos ist.
  </p>
  <h2>9. HAFTUNG AUF SCHADENSERSATZ WEGEN VERSCHULDENS</h2>
  <p>
    <strong>9.1.</strong> Die Haftung der Heister Solartechnik GmbH auf
    Schadensersatz, gleich aus welchem Rechtsgrund, insb. aus Unmöglichkeit,
    Verzug, mangelhafter oder falscher Lieferung, Vertragsverletzung, Verletzung
    von Pflichten bei Vertragsverhandlungen und unerlaubter Handlung ist, soweit
    es dabei jeweils auf ein Verschulden ankommt, nach Maßgabe dieser Ziffer 9.
    eingeschränkt.
  </p>
  <p>
    <strong>9.2.</strong> Die Heister Solartechnik GmbH haftet nicht im Falle
    einfacher Fahrlässigkeit seiner Organe, gesetzlichen Vertreter, Angestellten
    oder sonstigen Erfüllungsgehilfen, soweit es sich nicht um eine Verletzung
    vertragswesentlicher Pflichten handelt. Vertragswesentlich sind die
    Verpflichtung zur rechtzeitigen Lieferung und Installation des
    Liefergegenstands, dessen Freiheit von Rechtsmängeln sowie solchen
    Sachmängeln, die seine Funktionsfähigkeit oder Gebrauchstauglichkeit mehr
    als nur unerheblich beeinträchtigen, sowie Beratungs-, Schutz- und
    Obhutspflichten, die dem Kunden die vertragsgemäße Verwendung des
    Liefergegenstands ermöglichen sollen oder den Schutz von Leib oder Leben von
    Personal des Kunden oder den Schutz von dessen Eigentum vor erheblichen
    Schäden bezwecken.
  </p>
  <p>
    <strong>9.3.</strong> Soweit die Heister Solartechnik GmbH gem. 9.2 dem
    Grunde nach auf Schadensersatz haftet, ist diese Haftung auf Schäden
    begrenzt, die Heister Solartechnik GmbH bei Vertragsschluss als mögliche
    Folge einer Vertragsverletzung vorausgesehen hat oder die er bei Anwendung
    verkehrsüblicher Sorgfalt hätte voraussehen müssen. Mittelbare Schäden und
    Folgeschäden, die Folge von Mängeln des Liefergegenstands sind, sind
    außerdem nur ersatzfähig, soweit solche Schäden bei bestimmungsgemäßer
    Verwendung des Liefergegenstands typischerweise zu erwarten sind. Die
    vorstehenden Regelungen in 9.3. gelten nicht im Fall vorsätzlichen oder grob
    fahrlässigen Verhaltens von Organmitgliedern oder leitenden Angestellten der
    Heister Solartechnik GmbH.
  </p>
  <p>
    <strong>9.4.</strong> Die vorstehenden Haftungsausschlüsse und
    -beschränkungen gelten in gleichem Umfang zugunsten der Organe, gesetzlichen
    Vertreter, Angestellten und sonstigen Erfüllungsgehilfen der Heister
    Solartechnik GmbH.
  </p>
  <p>
    <strong>9.5.</strong> Soweit die Heister Solartechnik GmbH technische
    Auskünfte gibt oder beratend tätig wird und diese Auskünfte oder Beratung
    nicht zu dem von ihm geschuldeten, vertraglich vereinbarten Leistungsumfang
    gehören, geschieht dies unentgeltlich und unter Ausschluss jeglicher
    Haftung.
  </p>
  <p>
    <strong>9.6.</strong> Die Einschränkungen nach 9. gelten nicht für die
    Haftung der Heister Solartechnik GmbH wegen vorsätzlichen Verhaltens, für
    garantierte Beschaffenheitsmerkmale, wegen Verletzung des Lebens, des
    Körpers oder der Gesundheit oder nach dem Produkthaftungsgesetz.
  </p>
  <h2>10. EIGENTUMSVORBEHALT</h2>
  <p>
    <strong>10.1.</strong> Der nachfolgend vereinbarte Eigentumsvorbehalt dient
    der Sicherung aller jeweils bestehenden derzeitigen und künftigen
    Forderungen der Heister Solartechnik GmbH gegen den Käufer aus der zwischen
    den Vertragspartnern bestehenden Lieferbeziehung (einschließlich
    Saldo-forderungen aus einem auf diese Lieferbeziehung beschränkten
    Kontokorrentverhältnis).
  </p>
  <p>
    <strong>10.2.</strong> Die von der Heister Solartechnik GmbH an den Käufer
    gelieferte Ware bleibt bis zur vollständigen Bezahlung aller gesicherten
    Forderungen Eigentum der Heister Solartechnik GmbH. Die Ware wird
    nachfolgend „Vorbehaltsware“ genannt.
  </p>
  <p>
    <strong>10.3.</strong> Der Käufer verwahrt die Vorbehaltsware unentgeltlich
    für die Heister Solartechnik GmbH.
  </p>
  <p>
    <strong>10.4.</strong> Greifen Dritte auf die Vorbehaltsware zu, insb. durch
    Pfändung, wird der Käufer sie unverzüglich auf das Eigentum der Heister
    Solartechnik GmbH hinweisen und die Heister Solartechnik GmbH hierüber
    informieren, um ihm die Durchsetzung seiner Eigentumsrechte zu ermöglichen.
    Sofern der Dritte nicht in der Lage ist, die Heister Solartechnik GmbH die
    in diesem Zusammenhang entstehenden gerichtlichen oder außergerichtlichen
    Kosten zu erstatten, haftet hierfür der Käufer der Heister Solartechnik
    GmbH.
  </p>
  <p>
    <strong>10.5.</strong> Die Heister Solartechnik GmbH wird die Vorbehaltsware
    freigeben, soweit ihr Wert die Höhe der gesicherten Forderungen um mehr als
    50 % übersteigt. Die Auswahl der danach freizugebenden Produkte liegt bei
    der Heister Solartechnik GmbH.
  </p>
  <p>
    <strong>10.6.</strong> Tritt die Heister Solartechnik GmbH bei
    vertragswidrigem Verhalten des Käufers – insb. Zahlungsverzug – vom Vertrag
    zurück (Verwertungsfall), ist er berechtigt, die Vorbehaltsware
    herauszuverlangen.
  </p>
  <h2>
    11. ABSCHLUSS EINES STROMLIEFERVERTRAGES ZUR EINSPESUNG DER ELEKTRISCHEN
    ENERGIE
  </h2>
  <p>
    Für die Einspeisung der elektrischen Energie in das Netz des örtlichen
    Netzbetreibers ist ein Vertrag zwischen dem Kunden und dem örtlichen
    Netzbetreiber erforderlich, dessen Abschluss dem Kunden obliegt. Die Heister
    Solartechnik GmbH haftet nicht für Verluste, die durch eine verzögerte
    Inbetriebnahme durch den Stromnetzbetreiber an das öffentliche Stromnetz
    erfolgen. Dies gilt auch, wenn die Anlage nicht in Betrieb genommen werden
    kann, insbesondere weil das öffentliche Stromnetz nicht die erforderlichen
    Voraussetzungen erfüllt oder sonstige Gründe vorliegen auf die Heister
    Solartechnik GmbH keinen oder nur bedingten Einfluss hat.
  </p>

  <h2>12. WERBUNG, REFERENZ</h2>
  <p>
    Die Heister Solartechnik GmbH ist berechtigt, die installierte Anlage nach
    Fertigstellung kostenlos zu fotografieren und zu Werbezwecken zu nutzen.
    Außerdem darf die Anlage als Referenz genannt werden.
  </p>

  <h2>13. SCHLUSSBESTIMMUNGEN</h2>
  <p>
    <strong>13.1.</strong> Ist der Kunde Kaufmann, eine juristische Person des
    öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen oder hat
    er in der Bundesrepublik Deutschland keinen allgemeinen Gerichtsstand, so
    ist Gerichtsstand für alle etwaigen Streitigkeiten aus der
    Geschäftsbeziehung zwischen der Heister Solartechnik GmbH und dem Kunden
    nach Wahl der Heister Solartechnik GmbH Köln oder der Sitz des Kunden. Für
    Klagen gegen die Heister Solartechnik GmbH ist in diesen Fällen jedoch Köln
    ausschließlicher Gerichtsstand. Zwingende gesetzliche Bestimmungen über
    ausschließliche Gerichtsstände bleiben von dieser Regelung unberührt.
  </p>
  <p>
    <strong>13.2.</strong> Die Beziehungen zwischen der Heister Solartechnik
    GmbH und dem Kunden unterliegen ausschließlich dem Recht der Bundesrepublik
    Deutschland. Das Übereinkommen der Vereinten Nationen über Verträge über den
    internationalen Warenkauf vom 11.4.1980 (CISG) gilt nicht.
  </p>
  <p>
    <strong>13.3.</strong> Soweit der Vertrag oder diese Allgemeinen
    Lieferbedingungen Regelungslücken enthalten, gelten zur Ausfüllung dieser
    Lücken diejenigen rechtlich wirksamen Regelungen als vereinbart, welche die
    Vertragspartner nach den wirtschaftlichen Zielsetzungen des Vertrages und
    dem Zweck dieser Allgemeinen Lieferbedingungen vereinbart hätten, wenn sie
    die Regelungslücke gekannt hätten.
  </p>
</div>
