<section>
  <div class="image-container">
    <img src="./../../assets/youtube-video-gif.gif" alt="" />
    <div class="text-overlay">
        <div class="spacer" style="height: 50px;">
            <hr>
        </div>
      <h2>Heister Solartechnik GmbH - Ihr Experte für Photovoltaik in Köln</h2>
      <h4>Exzellenz in Qualität und Service</h4>
      <div>
        <button class="button-17">Leistungen</button>
        <button class="button-17">Kontakt</button>
      </div>
    </div>
  </div>
</section>


