<section>
  <div class="image-container">
    <img src="./../../assets/youtube-video-gif.gif" alt="" />
    <div class="text-overlay">
      <div class="spacer" [class.animate]="animateSpacer">
        <div class="horizontal-line"></div>
        <div class="vertical-line left"></div>
        <div class="vertical-line right"></div>
      </div>
      <h2 [class.animate]="animateText">Heister Solartechnik GmbH - Ihr Experte für Photovoltaik in Köln</h2>
      <h4 [class.animate]="animateText">Exzellenz in Qualität und Service</h4>
      <div>
        <button class="button-17 left" [class.animate]="animateButtons" routerLink="/leistungen">Leistungen</button>
        <button class="button-17 right" [class.animate]="animateButtons" routerLink="/kontakt">Kontakt</button>
      </div>
    </div>
  </div>
</section>
<app-vertrauenswuerdiger-partner></app-vertrauenswuerdiger-partner>
<app-wir-koennen-helfen></app-wir-koennen-helfen>
<app-warum-heister></app-warum-heister>
<app-unser-solar></app-unser-solar>
<app-rechner></app-rechner>
<app-funktion-pv></app-funktion-pv>
<app-qualitaet></app-qualitaet>
<app-stellenanzeige></app-stellenanzeige>