section {
    position: relative;

    .image-container {
        position: relative;

        >img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }

        .text-overlay {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 99%;
            transform: translate(0, 0);
            text-align: center;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;

            .spacer {
                position: relative;
                width: 10%;
                height: 50px;
                margin-bottom: 32px;

                .horizontal-line {
                    width: 100%;
                    height: 4px;
                    background-color: white;
                    position: absolute;
                    top: 50%;
                    left: 0;
                }

                .vertical-line {
                    width: 4px;
                    height: 32px;
                    background-color: white;
                    position: absolute;
                    top: 82%;
                    transform: translateY(-50%);

                    &.left {
                        left: 0;
                    }

                    &.right {
                        right: 0;
                    }
                }
            }
        }
    }

    h2 {
        margin-bottom: 32px;
        font-weight: 400;
    }

    h4 {
        font-weight: 300;
    }

    h2,
    h4 {
        text-transform: uppercase;
    }
}

div:nth-child(4) {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.spacer, h2, h4, .button-17 {
  opacity: 0;
}

.spacer.animate {
  animation: slideDown 1s forwards;
}

h2.animate, h4.animate {
  animation: slideDown 1s forwards;
}

.button-17.left.animate {
  animation: slideLeft 1s forwards;
}

.button-17.right.animate {
  animation: slideRight 1s forwards;
}

@media (max-width: 500px) {
  div:nth-child(4) {
      display: flex;
      flex-direction: column;
      margin: 8px 0;
  }
}

.hidden {
    display: none;
}

.video {
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-color: black;
}