<div class="container">
  <app-header
    [customImage]="customImage"
    [title]="title"
    [showSpacer]="showSpacer"
  ></app-header>
  <div class="content">
    <h3>Über Uns:</h3>
    <p>
      Bei der Heister Solartechnik GmbH haben wir verstanden, dass begeisterte
      Mitarbeiter eine Voraussetzung für begeisterte Kunden sind. Und
      begeisterte Kunden? Die sind unser Weg zum langfristigen Erfolg. Wir
      verfolgen einen Ansatz, der bewährte Tradition und zukunftsweisende
      Innovation vereint und setzen dabei auf Ehrlichkeit, Fairness und Qualität
      <a routerLink="/ueber-uns">(Über Uns).</a> Wir bilden uns nicht ein, die
      Welt zu retten, aber wir geben unser Bestes, unseren kleinen, lokalen
      Beitrag zu leisten – ein Solarmodul und ein Kunde nach dem anderen.
    </p>

    <h3>Die Herausforderung:</h3>
    <p>
      Ich suche mehr als nur eine Assistenz; ich suche eine rechte Hand. Ich
      brauche einen strategischen Partner, jemanden, der ein wahres
      Organisationstalent ist und es liebt, die vielfältigen Facetten unseres
      dynamischen Unternehmens effektiv zu koordinieren, sodass alle Details
      nahtlos ineinandergreifen. In dieser Rolle hast du die Gelegenheit, deine
      Stärken in Sachen Effizienz, Gewissenhaftigkeit und Verlässlichkeit
      auszuspielen, während du mich – den Gründer und Geschäftsführer –
      unterstützt, dessen sprudelnder Ideenreichtum ständiger Weiterentwicklung,
      Optimierung, sowie wiederkehrendem Chaos dient.
    </p>

    <h3>Dein Alltag:</h3>
    <ul>
      <li>
        Übernimm wichtige Aufgaben des Tagesgeschäftes, die mir einerseits den
        Rücken freihalten und in deinen Händen sicherer sind als in meinen.
      </li>
      <li>
        Organisiere und koordiniere meinen (manchmal etwas zu enthusiastischen)
        Terminkalender.
      </li>
      <li>
        Unterstütze uns bei Projektkoordination und administrativen Aufgaben, um
        einen reibungslosen Ablauf sicherzustellen.
      </li>
      <li>
        Führe unsere Korrespondenz und Kommunikation mit Professionalität,
        Klarheit und gelegentlichem Humor.
      </li>
      <li>
        Abgesehen von diesen Kernaufgaben kannst du in verschiedenste
        Tätigkeiten, die dich interessieren, reinschnuppern und bei Gefallen
        übernehmen.
      </li>
    </ul>
    <h3>Was wir dir bieten:</h3>
    <ul>
      <li>
        Ein Gehalt, das Deinen Einsatz anerkennt, plus eine Gewinnbeteiligung,
        weil du Teil unseres Erfolges bist.
      </li>
      <li>Je nach Präferenz zwischen 20 und 42 Wochenstunden möglich</li>
      <li>
        Ein ehrliches Engagement für deine berufliche Entwicklung, unterstützt
        durch unbegrenzten Zugang zu Bildungsmaterialien wie z.B. Büchern.
      </li>
      <li>
        Flexible Vorteile, einschließlich der Möglichkeit eines Firmenwagens und
        weitere maßgeschneiderte Extras
      </li>
      <li>
        Fantastischer Kaffee, einen prall gefüllten Kühlschrank und einen voll
        ausgestattete Mitarbeiter Küche.
      </li>
      <li>
        Ein großes, helles und schönes Büro, ergänzt durch höhenverstellbaren
        Schreibtisch und modernster Hardware.
      </li>
      <li>
        Ein Chef, der anstrebt der Chef zu sein, den er sich immer gewünscht
        hat.
      </li>
      <li>Good vibes.</li>
    </ul>
    <h3>Dein Weg zu uns:</h3>
    <p>
      Nimmt einen unkonventionellen Start: Anstelle eines gewöhnlichen
      Lebenslaufs setzen wir auf Ray Dalios Assessment. Dies erlaubt uns, tiefer
      in deine Arbeitsweise und Persönlichkeit einzutauchen und zu erahnen, wie
      gut du in deine zukünftige Rolle bei der Heister Solartechnik GmbH passen
      wirst. Das Assessment mag zwar einen größeren Zeitaufwand als das
      Verschicken herkömmlicher Bewerbungsunterlagen erfordern, aber wir sehen
      es als lohnendes Investment.
    </p>
    <h3>Werde Teil unseres Teams:</h3>
    <p>
      Wenn du bereit bist für eine Rolle, die Organisationstalent mit einer
      Prise Abenteuer verbindet und in der du ein wesentlicher Teil eines
      bodenständigen, aber ambitionierten Teams bist, dann ergreife den ersten
      Schritt. Absolviere das Assessment und lass uns sprechen.
    </p>
  </div>
</div>
<app-contact
  [heading]="
    'Wir freuen uns dich kennenzulernen! Kontaktier uns einfach per E-Mail, Telefon, Whatsapp oder Kontaktformular.'
  "
></app-contact>
<app-contact-form></app-contact-form>
