.container {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

.content {
    padding: 64px;
    max-width: 1100px;
    margin: 0 auto;
}

h2 {
    font-size: 20px;
    color: #7A7A7A;
    margin-bottom: 16px;
    font-weight: 500;
    max-width: 800px;
}

h3 {
    font-size: 24px;
    color: #000;
    margin: 32px 0;
    font-weight: 500;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul ul {
    list-style-type: circle;
    margin-left: 20px;
}

strong {
    font-weight: bold;
}

li {
    color: #7A7A7A;
    width: 800px;
    font-size: 16px;
}

p {
    width: 800px;
    font-size: 16px;
    color: #7A7A7A;
}

h4 {
    font-size: 20px;
    color: #7A7A7A;
    margin-top: 20px;
    font-weight: 500;
}

a {
    color: #000;
    text-decoration: underline;
}