<footer>
  <div>
    <div>
      <a routerLink="/ueber-uns"><h3>ÜBER UNS</h3></a>
      <p>
        Heister Solartechnik: Für alle, die mehr als<br> nur eine Solaranlage
        wollen.
      </p>
    </div>
    <div>
      <h3>KONTAKTDATEN</h3>
      <p>
        <a href="https://www.google.com/maps/search/?api=1&query=Olpener+Straße+919+51109+Köln" target="_blank">
          <fa-icon [icon]="faLocationDot"></fa-icon> Heister Solartechnik GmbH
          Olpener Straße 919 51109 Köln
        </a>
      </p>
      <p>
        <a href="mailto:info@heister-solartechnik.de">
          <fa-icon [icon]="faEnvelope"></fa-icon> info&#64;heister-solartechnik.de
        </a>
      </p>
      <p>
        <a href="tel:+4922129862862">
          <fa-icon [icon]="faPhone"></fa-icon> 0221-29 862 862
        </a>
      </p>
    </div>
    <div class="footerEnd">
      <div>
        <h3>WICHTIGE LINKS</h3>
        <div class="links-container">
          <div class="important-links">
            <a routerLink="/">Home</a>
            <a routerLink="/ueber-uns">Über Uns</a>
            <a routerLink="/leistungen">Leistungen</a>
          </div>
          <div class="important-links-last-child">
            <a routerLink="/karriere">Karriere</a>
            <a routerLink="/faq">FAQs</a>
            <a routerLink="/kontakt">Kontakt</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="imprint-part">
  <div>
    <p>© 2024 Alle Rechte vorbehalten.</p>
  </div>
  <div>
    <a routerLink="/impressum">Impressum</a>
    <a routerLink="/datenschutz">Datenschutzerklärung</a>
    <a routerLink="/agb-b2b">AGB B2B</a>
    <a routerLink="/agb-b2c">AGB B2C</a>
  </div>
</div>