<footer>
  <div>
    <div>
      <h3><a href="#">ÜBER UNS</a></h3>
      <p>
        Heister Solartechnik: Für alle, die mehr als<br> nur eine Solaranlage
        wollen.
      </p>
    </div>
    <div>
      <h3>KONTAKTDATEN</h3>
      <p>
        <fa-icon [icon]="faLocationDot"></fa-icon> Heister Solartechnik GmbH
        Olpener Straße 919 51109 Köln
      </p>
      <p> <fa-icon [icon]="faEnvelope"></fa-icon> info&#64;heister-solartechnik.de
      </p>
      <p><fa-icon [icon]="faPhone"></fa-icon> 0221-29 862 862</p>
    </div>
    <div class="footerEnd">
      <div>
        <h3>WICHTIGE LINKS</h3>
        <div class="links-container">
          <div class="important-links">
            <a href="">Home</a>
            <a href="">Über Uns</a>
            <a href="">Leistungen</a>
          </div>
          <div class="important-links-last-child">
            <a href="">Karriere</a>
            <a href="">FAQs</a>
            <a href="">Kontakt</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="imprint-part">
  <div>
    <p>© 2024 Alle Rechte vorbehalten.</p>
  </div>
  <div>
    <a href="">Impressum</a>
    <a href="">Datenschutzerklärung</a>
    <a href="">AGB B2B</a>
    <a href="">AGB B2C</a>
  </div>
</div>