$primary-bg-color: #F5F5F5;
$secondary-bg-color: #F0F0F0;

@mixin flex-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-section {
    @include flex-center;
    background-color: $primary-bg-color;
    padding: 64px 124px;
    position: relative;
    
    &.reverse {
        flex-direction: row-reverse;
        background-color: $secondary-bg-color; 
    }

    .text-content {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: 50%;
        >h1 {
            font-size: 24px;
            font-weight: 500;
        }

        ul {
            list-style: none;
            margin-top: 16px;
        }

        li {
            display: flex;
            margin-left: 32px;
            margin-bottom: 16px;
        }

        span:last-child {
            font-size: 16px;
            font-weight: 400;
        }
    }

    .image-content {
        padding-top: 32px;

        > img {
            width: 292px;
            height: 195px;
        }

        &.last-image img {
            height: 351px;
        }

        position: relative;
    }

    .image-content::before {
        content: attr(data-number);
        position: absolute;
        font-size: 17em; 
        font-weight: 600;
        color: #E9E9E98C;
        pointer-events: none; 
    }
}   

span {
    width: 50%;
}

span:last-child {
    width: 100%;
}

.svg-icon {
    width: 38px;
    height: 38px;
    margin-right: 16px;
    margin-top: -2px;
}

li {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.75s ease-out, transform 0.75s ease-out;
    transition-delay: calc(var(--li-index) * 0.75s);
}

li.visible {
    opacity: 1;
    transform: translateY(0);
}

.image-content {
    position: relative;

    &[data-number="01"]::before,
    &[data-number="03"]::before,
    &[data-number="05"]::before {
        left: -50%;
    }

    &[data-number="02"]::before,
    &[data-number="04"]::before {
        left: 50%;
    }
}

.svg-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}

.svg-container svg {
  width: 100%;
  height: auto;
}

.svg-container.light .elementor-shape-fill {
  fill: #F8F8F8;
}

.svg-container.dark .elementor-shape-fill {
  fill: #FFF;
}

.contact-section {
  background-color: #F8F8F8;
  padding: 64px 124px;

  >p{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
  }
}

.container > h2 {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}


@media (max-width: 1240px) {
    .image-content {
        &[data-number="01"]::before {
            font-size: 12em!important;
        }

        &[data-number="02"]::before {
            font-size: 12em!important;
        }

        &[data-number="03"]::before {
            font-size: 12em!important;
        }

        &[data-number="04"]::before {
            font-size: 12em!important;
        }

        &[data-number="05"]::before {
            font-size: 12em!important;
        }
    }
}

@media (max-width: 900px) {
    .service-section {
        padding: 32px 64px!important;
    }

    .image-content {
        &[data-number="01"]::before {
            font-size: 8em!important;
            left: -20%;
        }

        &[data-number="02"]::before {
            font-size: 8em!important;
            left: 50%;
        }

        &[data-number="03"]::before {
            font-size: 8em!important;
            left: -20%;
        }

        &[data-number="04"]::before {
            font-size: 8em!important;
            left: 50%;
        }

        &[data-number="05"]::before {
            font-size: 8em!important;
            left: -20%;
        }
    }

    .contact-section {
        padding: 32px 64px!important;

        >p {
            width: 100%!important;
            font-size: 14px!important;
        }
    }
}

@media (max-width: 750px) {
    .service-section {
        flex-direction: column-reverse!important;
    }

    .text-content {
        width: 100%!important;

        >h1 {
            font-size: 24px!important;
        }

        li {
            span:last-child {
                font-size: 14px!important;
            }
        }
    }
}