@import './../ueber-uns.component.scss';

* {
    background-color: #F0F0F0;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    color: #000;
    margin: 32px 0 16px 0;
}

p {
    color: #54595F;
    margin: 16px 0;
}

a {
    color: #000;
    text-decoration: underline;
    font-weight: 600;
}

.third-section {
    padding: 64px 128px;
}
