<div class="jobs-container">
  <div class="job-card">
    <div>
      <h3>Dachdecker für Solartechnik in Vollzeit (m/w/d)</h3>
      <span>Köln, Brück</span>
    </div>
    <button [routerLink]="['/dachdecker']">Ansicht Details</button>
  </div>
  <div class="job-card">
    <div>
      <h3>Elektromeister in Vollzeit (m/w/d)</h3>
      <span>Köln, Brück</span>
    </div>
    <button [routerLink]="['/elektriker']">Ansicht Details</button>
  </div>
  <div class="job-card">
    <div>
      <h3>Assistenz der Geschäftsführung (m/w/d)</h3>
      <span>Köln, Brück</span>
    </div>
    <button [routerLink]="['/chef']">Ansicht Details</button>
  </div>
</div>
